<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SES_TireAnalyzer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>

<!--Logging (NLog Configuration)-->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
    <targets>
      <!--Log will be archived once it reaches 5MB.  Logs are stored in the application directory under Logging-->
      <target name="file" type="File" fileName="${specialfolder:folder=MyDocuments}/FSAE Logs/log.txt" layout="${longdate} ${callsite} ${level} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" archiveFileName="${specialfolder:folder=MyDocuments}/FSAE Logs/Archives/log.{#####}.txt" archiveAboveSize="5242880" />
      <target name="debugger" xsi:type="Debugger" layout="${longdate} ${callsite} ${level} ${message} ${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Debug" writeTo="file" />
      <logger name="*" minLevel="Error" writeTo="debugger" />
    </rules>
  </nlog>
  
    
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <SES_TireAnalyzer.My.MySettings>
            <setting name="Session_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Template_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Preferences_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="SaveData_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="ReadData_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="GraphImagePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Testing" serializeAs="String">
                <value />
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
        </SES_TireAnalyzer.My.MySettings>
    </userSettings>

    
  <system.serviceModel>
    
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMembershipProviderService" maxBufferSize="31457280" maxReceivedMessageSize="31457280" useDefaultWebProxy="false" />
      </basicHttpBinding>
    </bindings>
   
    <client>

    <endpoint address="http://stackpoleengineering.com/Authentication/SES.Authentication.Service.MembershipProviderService.svc"
       binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMembershipProviderService"
       contract="SESAuthenticationService.IMembershipProviderService"
       name="BasicHttpBinding_IMembershipProviderService" />

    </client>

  </system.serviceModel>
</configuration>
